@import url("https://fonts.googleapis.com/css?family=Manrope");
@import "tachyons/css/tachyons.min.css";

html,
body {
  background: #38d9a9;
  height: 100%;
}

body {
  font-family: "Manrope", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
}

nav {
  border-color: #111;
}

input:focus {
  outline: none;
}
